{% extends 'python_org_ads/base.html' %} {% block content %}
<div id="main-content">
  <div class="row justify-content-center my-5">
    <div class="col-md-6">
      <p class="text-justify">
        This website is used only in educational purposes. Purpose of this
        website is to show how web scraping with BeautifulSoup can easily be
        incorporated into Django project. Data are collected every time when
        <i>python-org-ads</i> page is loaded and data are not stored or used in
        any way
      </p>
    </div>
  </div>
</div>
{% endblock %}
